body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header {
    background-color: #3498db; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.rutinas {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.rutinas h2 {
    color: #3498db; 
}

p {
    color: #555; 
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.regresar {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Convertir el botón en un bloque para centrarlo */
    margin: 0 auto; /* Establecer márgenes automáticos para centrarlo */
}

.regresar:hover {
    background-color: #2980b9;
}